
  <% breadcrumb :root %>
  <div class="contents">
    <ul class="main-contents">
      <% @videos.each do |video| %>
        <%= link_to video_path(video) do %><!-- showへのリンク -->
          <li>
            <div class="thumbnail2 img-responsive videoBox">
              <%= image_tag video.thumbnail_youtube %><!-- サムネイル表示 -->
              <img src="/assets/media-play-key.png" class="play img-responsive">
            </div>
            <p><%= video.description %></p>
            <!--<%= link_to '詳細 |', video %>
            <%= link_to '編集 |', edit_video_path(video) %>
            <%= link_to '削除', video, method: :delete, data: { confirm: '本当に削除しますか？' } %> -->
          </li>
        <% end %>
      <% end %>
    </ul>
    <!-- <div class="side-contents">
      <div class="ad-area">
        <img src="/assets/datumou_design_sample.jpg" alt="">
        <p>広告</p>
      </div>
      <div class="popular-videos">
        人気の動画
      </div>
    </div> -->
  </div>
  <%= paginate @videos %>
 <!--<%= link_to '投稿する！！！', new_video_path %> -->
